<h1>Welcome to my javascript internship site</h1>
<div class="description">
  <p>
    Here you will find a list of all my internships to date that have taught me
    more about the JavaScript language.
  </p>
</div>
<ul class="centered-list">
  <li><a href="/dragagonGame">RPG - Dragon Repeller Game</a></li>
  <li><a href="/calorieCounter">Calorie Counter</a></li>
</ul>
