<nav class="navbar">
  <div class="logo"><a href="/">Elvinlab</a></div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li>
      <a
        href="https://github.com/elvinlab/practice-logic-with-JS"
        target="_blank">Repo logic practices</a
      >
    </li>
    <li><a href="https://elvinlab.com/" target="_blank">My Webside</a></li>
    <li><a href="mailto:dev@elvinlab.com">Contact</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
